body {
  margin: 0px;
  padding: 0px;
}

nav ul {
  list-style-type: none;
  padding: 20px;
  background-color: rgb(12, 5, 5);
  color: aliceblue;
  display: flex;
  position: static;
}

nav ul li {
  display: inline;
  margin-right: 15px;
}
.link {
  font-weight: bold;
  color: whitesmoke;
  text-decoration: none;
}

footer {
  text-align: center;
  padding: 10px;
  background-color: #f8f9fa;
  color: #ddd;
  bottom: 0;
  width: 100%;
  position: fixed;
}
/* cart page css*/

.cart-container {
  margin-bottom: 50px;
}


.product-item {
  border: 1px solid #ddd;
  padding: 15px;
  margin: 10px 0;
}
.cart-item {
  border: 1px solid #ddd;
  padding: 15px;
  margin: 10px 0;
  display: flex;
  justify-content: space-between;
}

.quantity-container{
  display: flex;
}


/* not-found-page.css */

.not-found-container {
  height: 100vh;
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.nf-btn {
  padding: 10px;
  background-color: #4094ef;
  color: white;
  border-radius: 7px;
  cursor: pointer;
}
