body {
  margin: 0px;
  padding: 0px;
  color: aliceblue;
}

nav ul {
  width: 100%;
  list-style-type: none;
  padding: 20px;
  background-color: rgb(12, 5, 5);
  color: aliceblue;
  position: fixed;
  margin-top: 60px;
}

nav ul li {
  display: inline;
  margin-right: 15px;
}
.link {
  font-weight: bold;
  color: whitesmoke;
  text-decoration: none;
}

footer {
  text-align: center;
  padding: 10px;
  background-color: #1a1c1d;
  color: #ddd;
  bottom: 0;
  width: 100%;
}
/* cart page css*/

.cart-container {
  margin-top: 60px;
  min-height: 80vh;
}

.product-item {
  border: 1px solid #ddd;
  padding: 15px;
  margin: 10px 0;
}
.cart-item {
  border: 1px solid #ddd;
  padding: 15px;
  margin: 10px 0;
  display: flex;
  justify-content: space-between;
}

.quantity-container {
  display: flex;
}

/* not-found-page.css */

.not-found-container {
  height: 100vh;
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.nf-btn {
  padding: 10px;
  background-color: #4094ef;
  color: white;
  border-radius: 7px;
  cursor: pointer;
}

/* product-detailed-page.css */

.product-detailed-page {
  padding: 10px;

  img {
    height: 300px;
    width: 300px;
  }
}

.homepage {
  min-height: 80vh;
  margin-top: 60px;
}

.product-detailed-page {
  min-height: 80vh;
  margin-top: 60px;
}

/* product item and product page css*/
.products-div {
  margin-top: 60px;
}
.product-card-item {
  background-color: aliceblue;
  border-radius: 6px;
  color: #1a1c1d;
  margin: 10px;
  width: 20vw;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  border: 2px solid rgb(34, 34, 34);
  padding: 10px;
}

.product-img {
  width: 8vw;
  height: 20vh;
  align-self: center;
}

.product-container {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: center;
}

/* login page */
.loginPage {
  min-height: 90vh;
}
